@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<MudThemeProvider DefaultScrollbar="true" IsDarkMode="@isDarkMode" Theme="@Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudScrollbar Color="info" HoverColor="primary" TrackColor="#27272f30" Width="12" />
<MudTypographyProvider />

<div style="background-image: url(/img/Cloudy.svg); background-position: center; background-size: cover; height: 100vh; left: 0; overflow: hidden; opacity: .15; position: fixed; top: 0; width: 100vw; z-index: -10;"></div>

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="HandleMainMenuOnClick" />
        <MudImage Src="/img/PlumbBuddyLogo.svg" Elevation="2" Width="48" Height="48" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" />
        <MudTextM3 Typo="TypoM3.Title" Class="ml-3">PlumbBuddy.app</MudTextM3>
    </MudAppBar>
    <MudDrawer @bind-Open="@isDrawerOpen" Class="overflow-x-hidden">
        <MainMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
