h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

p {
    margin: 0.5rem 0;
}

blockquote {
    margin: 1rem 0;
    padding: .05rem .5rem;
    border-left: 4px solid currentColor;
    background-color: rgba(0, 0, 0, 0.04);
    font-style: italic;
    border-radius: 4px;
}

blockquote footer {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    opacity: 0.7;
}

.main-container {
    margin: 12px auto;
    max-width: 1200px;
    padding: 0 8px;
}

.standard-text {
    ul, ol {
        margin: 0.5rem 0;
        padding-left: 1.5rem;
    }

    table {
        width: 100%;
    }
}

div.v-input.clickable input {
    cursor: pointer;
}

div.v-theme--dark {
    blockquote {
        background-color: rgba(255, 255, 255, 0.06);
    }
}