@page "/download"
@inject IJSRuntime JSRuntime

<PageTitle>Download</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
    <MudBreadcrumbs Items="@breadcrumbs" />
    <MudTextM3 Class="mb-2">Oh, hello there, <span>@os</span>.</MudTextM3>
</MudContainer>
