@page "/"

<PageTitle>PlumbBuddy</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
    <MudCarousel TData="object" AutoCycle EnableSwipeGesture ShowArrows ShowBullets Class="mud-width-full rounded" Style="height: calc(100vh - 210px);">
        <MudCarouselItem Color="Color.Success">
            <div class="d-flex" style="height: 100%">
            </div>
        </MudCarouselItem>
        <MudCarouselItem Color="Color.Primary">
            <div class="d-flex" style="height: 100%">
            </div>
        </MudCarouselItem>
        <MudCarouselItem Color="Color.Tertiary">
            <div class="d-flex" style="height: 100%">
            </div>
        </MudCarouselItem>
    </MudCarousel>
    <MudGrid Justify="Justify.Center" Spacing="0">
        <MudItem>
            <MudAlert Icon="@MaterialDesignIcons.Normal.Application">Current version: <strong>0.1.24</strong></MudAlert>
        </MudItem>
        <MudItem>
            <MudAlert Severity="Severity.Warning">Lifecycle stage: <strong>Pre-Alpha</strong></MudAlert>
        </MudItem>
        <MudItem>
            <MudAlert Severity="Severity.Success">Windows release status: <strong>Okay</strong></MudAlert>
        </MudItem>
        <MudItem>
            <MudAlert Severity="Severity.Success">macOS release status: <strong>Okay</strong></MudAlert>
        </MudItem>
    </MudGrid>
</MudContainer>
